body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("file:///~/images/background.jpg");
}

.footer {
    background-color: #010101;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

#hIndex {
    font-size: 70px;
    font-weight: bold;
}


