@{
    ViewData["Title"] = "Home Page";
}
<style>
    #Home{
        background-image
    }
</style>
<div id="Home">

    <h1 id="hIndex" style="text-align: center;"> Welcome </h1>
    <div id="homeIndex"class="container" style="margin-top: 30px;">
        <div class="row">
            <div class="col-sm-4">
                <h2> What is this Site?</h2>
                <p> This site is to offer computer programing videos to
                those who are interesting in computer programming.<br />
                I will be teaching in python as its the fastest growing programming language currently.<br />
                This site will also display my resume for those interested in hiring me for work
                and also contain a portfolio of current work that I am doing.</p>
            </div>
            <div class="col-sm-4">
                <h2> Who Am I?</h2>
            </div>
            <div class="col-sm-4">
                <h2> What can this site offer?</h2>
            </div>
        </div>
    </div>

</div>