@{
    ViewData["Title"] = "Index";
}
<style>
    #portList{
        margin-top: 20px;
        font-size: 22px;
    }
    hr{
        background-color: black;
    }
</style>
<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 style="text-align: center; font-size: 50px;">Portfolio</h1>
        </div>
    </div>
    <div id="intro" class="row">
        <div class="col-lg-4">
            <img src="~/images/python.jpg" height="400" width="400" />
        </div>
        <div class="col-lg-4">
            <ul id="portList">
                <li> Justyn Rippie </li>
                <li> Age: 21</li>
                <li> Fluent Python Programmer </li>
                <li> Knowledge of .NET Framework Devolpment with C# programming language</li>
            </ul>
        </div>
        <div class="col-lg-4">
            <img src="~/images/csharp.png" height="400" width="400" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <hr />
            <h2> Explaination of Projects </h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque purus ex, placerat sit amet nisi nec, fermentum vulputate nunc. Ut in augue vel odio hendrerit volutpat a iaculis eros. Mauris aliquam lorem mauris, vel dapibus dolor rhoncus quis. Aliquam convallis, nibh vitae dignissim semper, tellus quam blandit arcu, non mattis dui turpis ac ipsum. Morbi tellus sem, blandit sit amet vestibulum id, placerat eget ex. Nunc ligula dui, aliquet quis ex eget, porttitor ullamcorper risus. Pellentesque quis blandit ex. Proin commodo mauris non quam ornare, id vestibulum velit pretium. Nam nec purus iaculis, efficitur sapien id, pharetra mauris. Maecenas non feugiat tortor. Cras faucibus neque id nisl rutrum mattis. Nullam iaculis sem elit, id pharetra augue ullamcorper sit amet. Vestibulum a quam ut leo blandit interdum et eget mauris. Nulla quis est sit amet magna rutrum commodo congue sit amet nunc.<br />
            </p>
            <p>
                Aenean lobortis elementum tristique. Nullam rhoncus dui magna, eu aliquet ligula rhoncus et. Suspendisse orci purus, egestas eget sollicitudin non, commodo sed quam. Sed volutpat blandit pharetra. Praesent accumsan magna eu felis mollis varius. Maecenas at mollis augue. Maecenas ut turpis at urna tempus condimentum. Nam in gravida arcu.
            </p>
        </div>
    </div>
</div>
