@{
    ViewData["Title"] = "Index";
}
<style>
    #portList{
        margin-top: 20px;
        font-size: 22px;
    }
    hr{
        background-color: white;
    }
    .container-fluid{
        margin-top:30px;
        background-color: #003F72;
        color: white;
        border-radius: 5px 25px 5px 5px;
    }

</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 style="text-align: center; font-size: 50px;">Portfolio</h1>
        </div>
    </div>
    <div id="intro" class="row">
        <div class="col-lg-4">
            <img src="~/images/python.jpg" height="400" width="400" />
        </div>
        <div class="col-lg-4">
            <ul id="portList">
                <li> Justyn Rippie </li>
                <li> Age: 21</li>
                <li> Fluent Python Programmer </li>
                <li> Knowledge of .NET Framework Devolpment with C# programming language</li>
            </ul>
        </div>
        <div class="col-lg-4">
            <img src="~/images/csharp.png" height="400" width="400" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <hr />
            <h2 style="text-align: center"> Explaination of Projects </h2>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <p>
                project one
            </p>
        </div>
        <div class="col-lg-4">
            <p>
                another project
            </p>
        </div>
        <div class="col-lg-4">
            <p>
                another one
            </p>
        </div>
    </div>
</div>
