@model Website.Models.Contact

@{
    ViewData["Title"] = "Create";
}
<style>
    h2{
        margin-top: 10px;
        font-size: 50px;
    }
    hr{
        background-color: black;
    }
    .row{
        color: black;
        font-size: 20px;
    }
    .form-control{
        background-color: lightgrey;
    }
    .text-danger{
        background-color: lightgrey;
        color: lightgrey;
        font-size: 18px;
    }
    #contact{
        border-radius: 15px;
        background-color: gray;
    }
</style>

<h2>Contact Me For An Inquire</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <img src="~/images/contactme.png" alt="A picture" />
    </div>
    <div id="contact" class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfRequest" class="control-label"></label>
                <input asp-for="TypeOfRequest" class="form-control" />
                <span asp-validation-for="TypeOfRequest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsWebApp" /> @Html.DisplayNameFor(model => model.IsWebApp)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsWindowsApp" /> @Html.DisplayNameFor(model => model.IsWindowsApp)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsPhoneApp" /> @Html.DisplayNameFor(model => model.IsPhoneApp)
                    </label>
                </div>
            </div>
            <div>
                <button type="submit"> Submit </button>
            </div>
        </form>
    </div>
</div>



