
@{
    ViewData["Title"] = "Sent";
}
<style>
    .container{
        background-color: #003F72;
        color: white;
        border-radius: 5px 25px 5px 5px;
    }
</style>
<div class="container">
    <h1> Your Request has be sent</h1>   
    <p style="font-size: 30px;"> Please allow up to 48 hours for a respone!</p>  
</div>
